body {
    background: linear-gradient(to left, #a191db, #f0eaf2);
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%; /* Adjust the top margin for better centering */
}

.sgpa-container,
.ygpa-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(239, 221, 241, 0.362);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust container width */
    max-width: 400px; /* Set maximum width */
}

h2 {
    margin-top: 0;
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%; /* Make inputs full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; /* Make button full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

button:hover {
    background-color: #0056b3;
}

#sgpaResult,
#ygpaResult {
    margin-top: 10px;
}

.ygpa-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semester-input {
    margin-bottom: 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
